@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

$BrightBlue: hsl(220, 98%, 61%);
// $CheckBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

$VeryDarkBlue: hsl(235, 21%, 11%);
$VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$LightGrayishBlue: hsl(234, 39%, 85%);
$LightGrayishBlueHover: hsl(236, 33%, 92%);
$DarkGrayishBlue: hsl(234, 11%, 52%);
$VeryDarkGrayishBlue: hsl(233, 14%, 35%);
$VeryDarkGrayishBlueHover: hsl(237, 14%, 26%);

$font: 18px;

// MIXINS

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin mDesk {
  @media screen and(max-width: 1375px) {
    @content;
  }
}
@mixin tablet {
  @media screen and(max-width: 1035px) {
    @content;
  }
}
@mixin sTablet {
  @media screen and(max-width: 820px) {
    @content;
  }
}
@mixin mob {
  @media screen and(max-width: 480px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.o {
  border-radius: 50%;
  border: 1px solid $VeryDarkGrayishBlue;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
}
body {
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}
main {
  height: 100vh;
  background-color: $VeryDarkBlue;
  background-image: url(/images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  @include flex(column, center, center);
  @include mob {
    background-image: url(/images/bg-mobile-dark.jpg);
  }

  .container {
    height: 70%;
    min-height: 80%;
    width: 30%;
    max-width: 1440px;
    @include flex(column, space-around, center);

    @include mDesk {
      width: 40%;
    }
    @include tablet {
      width: 50%;
    }
    @include sTablet {
      width: 55%;
    }
    @include mob {
      width: 80%;
    }

    .title {
      width: 100%;
      @include flex(row, space-between, center);
      color: $LightGrayishBlue;
      font-size: 2rem;
      letter-spacing: 10px;
      text-transform: uppercase;
      @include tablet {
        font-size: 1.5rem;
      }
      @include mob {
        font-size: 1.1rem;
      }
      img {
        width: 40px;
        height: 40px;
        cursor: pointer;
        @include mob {
          width: 25px;
          height: 25px;
        }
      }
    }

    .new-todo {
      width: 100%;
      height: 55px;
      background-color: $VeryDarkDesaturatedBlue;
      @include flex(row, space-between, center);

      input {
        width: 90%;
        height: 100%;
        padding-left: 10px;
        background-color: $VeryDarkDesaturatedBlue;
        color: $LightGrayishBlue;
        font-size: 18px;
        outline: none;
        border: none;
        @include mob {
          font-size: 16px;
        }
      }
      .light-theme {
        background-color: #fff;
        color: $VeryDarkGrayishBlue;
      }
    }
    .list {
      background: $VeryDarkDesaturatedBlue;
      width: 100%;
      min-height: 70%;
      font-size: $font;
      color: $LightGrayishBlue;
      position: relative;
      overflow-y: auto;
      margin-bottom: 30px;
      @include flex(column, space-between, flex-start);
      @include mob {
        min-height: 60%;
      }
      ul {
        list-style-type: none;
        width: 100%;

        li {
          @include flex(row, flex-start, center);
          padding: 20px 0;
          border-bottom: 1px solid $VeryDarkGrayishBlue;
          position: relative;
          font-size: 22px;
          letter-spacing: 1px;
          @include mob {
            font-size: 16px;
            padding: 10px 0;
          }
          div {
            margin-right: 20px;
          }
          .del {
            visibility: hidden;
            position: absolute;
            right: 20px;
            cursor: pointer;
          }

          .showCross {
            visibility: visible;
          }

          .check {
            background-color: hsla(192, 100%, 67%, 0.39);
            background-image: linear-gradient(
                hsla(192, 100%, 67%, 0.383),
                hsla(280, 87%, 65%, 0.329)
              ),
              url(/images/icon-check.svg);

            background-repeat: no-repeat;
            background-position: center;
            background-blend-mode: hard-light;
          }
          .border-decoration {
            border: 1px solid;
          }
        }
        .decoration {
          text-decoration: line-through;
          color: $DarkGrayishBlue;
        }
        .light-decoration {
          color: $LightGrayishBlue;
          text-decoration: line-through;
        }
      }
    }

    nav.misa {
      @include flex(row, space-around, center);
      padding: 20px 10px;
      width: 100%;
      position: relative;
      color: $DarkGrayishBlue;
      @include mob {
        @include flex(row, space-between, center);
        padding: 20px 0;
      }

      ul {
        @include flex(row, space-around, center);
        width: 20%;
        flex: 0 0 50%;
        @include sTablet {
          position: fixed;
          bottom: 40px;
          background-color: $VeryDarkDesaturatedBlue;
          width: 55%;
          padding: 20px 10px;
        }
        @include mob {
          width: 80%;
        }
        a {
          color: $DarkGrayishBlue;
          text-decoration: none;
          font-size: 12px;
          &:hover {
            color: $LightGrayishBlueHover;
          }
        }
        .active {
          color: $BrightBlue;
        }
      }
      .light-theme {
        background-color: #fff;
        color: $VeryDarkGrayishBlue;
      }
      h5 {
        color: $DarkGrayishBlue;
        cursor: pointer;
        &:hover {
          color: $LightGrayishBlueHover;
        }

        @include mob {
          font-size: 12px;
          margin: 0 10px;
        }
      }
    }

    .light-theme {
      background-color: #fff;
      color: $VeryDarkGrayishBlue;

      nav {
        ul {
          a {
            color: $LightGrayishBlue;
            &:hover {
              color: $VeryDarkGrayishBlue;
            }
          }
          .active {
            color: $BrightBlue;
          }
        }
        h5 {
          &:hover {
            color: $VeryDarkGrayishBlue;
          }
        }
      }
    }
  }
}
.main-light {
  background-image: url(/images/bg-desktop-light.jpg);
  background-color: $LightGrayishBlue;
  @include mob {
    background-image: url(/images/bg-mobile-light.jpg);
  }
}
