@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.o {
  border-radius: 50%;
  border: 1px solid #4d5066;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
}

body {
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}

main {
  height: 100vh;
  background-color: #161722;
  background-image: url(/images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .container {
  height: 60%;
  min-height: 80%;
  width: 30%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main .container .title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #cacde8;
  font-size: 2rem;
  letter-spacing: 10px;
  text-transform: uppercase;
}

main .container .title img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

main .container .new-todo {
  width: 100%;
  height: 55px;
  background-color: #25273c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main .container .new-todo input {
  width: 90%;
  height: 100%;
  padding-left: 10px;
  background-color: #25273c;
  color: #cacde8;
  font-size: 18px;
  outline: none;
  border: none;
}

main .container .new-todo .light-theme {
  background-color: #fff;
  color: #4d5066;
}

main .container .list {
  background: #25273c;
  width: 100%;
  min-height: 70%;
  font-size: 18px;
  color: #cacde8;
  position: relative;
  overflow-y: auto;
  margin-bottom: 30px;
}

main .container .list ul {
  list-style-type: none;
}

main .container .list ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #4d5066;
  position: relative;
  font-size: 22px;
  letter-spacing: 1px;
}

main .container .list ul li div {
  margin-right: 20px;
}

main .container .list ul li .del {
  visibility: hidden;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

main .container .list ul li .showCross {
  visibility: visible;
}

main .container .list ul li .check {
  background-color: rgba(87, 221, 255, 0.39);
  background-image: linear-gradient(rgba(87, 221, 255, 0.383), rgba(192, 88, 243, 0.329)), url(/images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: hard-light;
}

main .container .list ul li .border-decoration {
  border: 1px solid;
}

main .container .list ul .decoration {
  text-decoration: line-through;
  color: #777a92;
}

main .container .list ul .light-decoration {
  text-decoration: line-through;
  color: #cacde8;
}

main .container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #777a92;
}

main .container nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

main .container nav ul a {
  color: #777a92;
  text-decoration: none;
  font-size: 12px;
}

main .container nav ul a:hover {
  color: #e4e5f1;
}

main .container nav ul .active {
  color: #3a7bfd;
}

main .container nav h5 {
  cursor: pointer;
}

main .container nav h5:hover {
  color: #e4e5f1;
}

main .container .light-theme {
  background-color: #fff;
  color: #4d5066;
}

.main-light {
  background-image: url(/images/bg-desktop-light.jpg);
  background-color: #cacde8;
}
/*# sourceMappingURL=style.css.map */